.main{
    margin: 0;    
    position: relative;  
    justify-content: center;
    align-content: center;    
    z-index: 2;    
}

.main::before{
    content: '';       
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 90vh;
    /* width: 100%; */
    position: absolute;
    background-image:url("../../Img/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;  
    opacity: calc(0.3);
    z-index: -1;    
}


@media (max-width: 600px) {
    .logo{
        width: 100vw;
    }
}