.slide{
  display: inline-block;
  height: 2rem;
  width: 100%;
  border-radius: 40px;
}

.slideImg{
  width: 70%;
}

.slideShowSlider{
  white-space: nowrap;  
  transition: ease 1500ms;
}

.slideShow {
  margin: 0 auto;
  /* overflow: hidden; */
  max-width: 12rem;
}

/* Dots */

.slideshowDots{
  text-align: center;  
}

.slideshowDot{
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: pointer;
  margin: 7px 3px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}


@media (max-width: 595px) {
  .slideShow{
    width: 10rem;
  }
}