.App {
  text-align: center;
   color: dodgerblue;
  background-color: #05263b;
  /* height: 100vh;   */
}
/* 
.theme {
  color: dodgerblue;
  background-color: #05263b;
}
*/
/* @media (max-width: 595px) {
  .App{
    height: 114vh;
  }
}

@media (max-width: 600px) {
  .App{
    height: 134vh;
  }
} 

@media (max-width: 768px) {
  .App{
    height: 124vh;
  }
} */
